html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif !important;
  margin: 0;
  padding: 0;
}

h5, h6 {
  margin: 17px 0 16px;
}

.mdl-layout__header {
  background:transparent;
  box-shadow: #CCC 1px 0px 2px;
  color:black;

  .mdl-layout__drawer-button {
    color:black;
  }

  .mdl-layout__header {
    background:#fafafa;
  }
}

footer {
    border-top: 1px solid #ccc;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 8px;
    text-align: center;
}

body {
    color: #800000;
}

a, a:visited {
  color: #fb3131;
}
a:hover {
  color: black;
}