@import 'themes/light';

.mdl-navigation {
    -webkit-flex-shrink: inherit; 
    -ms-flex-negative: inherit;
    flex-shrink: inherit;
    padding:0px !important;
    flex: auto;
}

.mdl-layout__drawer {
  width:400px;
  -webkit-transform: translateX(-400px);
  transform: translateX(-400px);
  display:flex;
  flex-direction: row;
  box-shadow: #CCC 0px 0px 0px;
}

.mdl-layout--fixed-drawer.is-upgraded:not(.is-small-screen)>.mdl-layout__header {
    margin-left: 400px;
    width: calc(100% - 400px);
}

.mdl-layout--fixed-drawer>.mdl-layout__content {
    margin-left: 400px;
}

.mdl-layout--fixed-drawer>footer {
    margin-left: 400px;
}

@media (max-width: 1024px) {
    .mdl-layout--fixed-drawer>.mdl-layout__content {
        margin-left: 0;
    }

    .mdl-layout__drawer .mdl-layout__header {
        display: flex;
    }

    .mdl-layout--fixed-drawer>footer {
        margin-left: 0px;
    }
}