.server-list {
  height: 100%; 
  text-align: center;
  border-right: solid 1px #d8d8d8;
  background: white;

  hr {
    margin:1em 9px
  }

  img.logo {
      margin-top: 10px;
      border-left: 3px solid transparent;
  }

  img {
    padding: 5px;
    cursor: pointer;
    display: block;
    border-left: 3px solid #ff6868;
    margin: 0 5px 0 3px;
  }

  img.active {
    border-left: 3px solid black;
  }
}