.topics {
  padding:14px;

  .topic {
    height: auto;
    min-height: 50px;
    padding: 4px;
    clear:left;
    cursor:pointer;

    img {
      margin-right: 7px;
      float:left;
    }

    a {
      text-decoration: none;
      font-family: "Roboto","Helvetica","Arial",sans-serif;
      line-height: 1.35;
      letter-spacing: .08em;
    }
  }
}
