.thread {
  padding-top:10px;
  padding-left:5px;
}
div.opContainer {
    display: inline;
}
div.sideArrows {
    color: #e0bfb7;
    float: left;
    margin-right: 2px;
    margin-top: 0px;
    margin-left: 2px;
}
div.thread {
    margin: 0px;
    clear: both;
}
div.post {
    margin: 4px 0;
    overflow: hidden;
}
div.thread>div:nth-of-type(2)>div.reply {
    margin-top: 2px!important;
}
div.op {
    display: inline;
}
div.reply {
    background-color: #f0e0d6;
    border: 1px solid #D9BFB7;
    border-left: none;
    border-top: none;
    display: table;
    padding: 2px;
}
div.reply input {
    float: none;
}
div.post div.postInfo {
    display: block;
    width: 100%;
}
div.post div.postInfo span.postNum a {
    text-decoration: none;
    color: #800000;
}
div.post div.postInfo span.postNum a:hover, .posteruid .hand:hover {
    color: red!important;
}
div.post div.postInfo span.nameBlock {
    display: inline-block;
}
div.post div.postInfo span.nameBlock span.name {
    color: #117743;
    font-weight: bold;
}
div.post div.postInfo span.nameBlock span.postertrip {
    color: #117743;
    font-weight: normal!important;
}
div.post div.postInfo span.subject {
    color: #cc1105;
    font-weight: bold;
}
div.post blockquote.postMessage {
    display: block;
    font-style: normal;
}
div.post blockquote.postMessage::before {
    content:""
}
div.post blockquote.postMessage::after {
    content:""
}
blockquote>span.quote {
    color: #789922;
}
.quoteLink, .quotelink, .deadlink, .pageJump a {
    color: #000080!important;
    text-decoration: underline;
}
div.post div.file {
    display: block;
}
div.file.hidden {
    position: absolute;
    left: -100000000px;
}
div.post div.file div.fileInfo {
    margin-right: 10px;
    word-break: break-all;
}
div.replyContainer div.post div.file div.fileInfo {
    margin-left: 20px;
}
div.post div.file .fileThumb {
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 3px;
    margin-bottom: 5px;
}
span.fileThumb {
    margin-left: 0px!important;
    margin-right: 5px!important;
}
div.reply span.fileThumb, div.reply span.fileThumb img {
    float: none!important;
    margin-top: 0px!important;
    margin-bottom: 0px!important;
}
div.post div.file .fileThumb img {
    border: none;
    float: left;
}
div.thread:last-child {
    padding-bottom: 21px;
    margin-bottom: 6px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    tbody textarea {
        margin-bottom: -3px!important;
        width: 292px;
    }
}
.globalMessage {
    color: red;
    text-align: center;
}
.highlightPost:not(.op) {
    background: #f0d6d6!important;
    border-color: #d69595!important;
}
.reply:target, .reply.highlight {
    background: #F0C0B0!important;
    border: 1px solid #D99F91!important;
    border-left: none!important;
    border-top: none!important;
    padding: 2px;
}
.hand {
    cursor: pointer;
}
.nameBlock.capcodeAdmin span.name, span.capcodeAdmin a span.name, span.capcodeAdmin span.postertrip, span.capcodeAdmin strong.capcode {
    color: #F00!important;
}
span.capcodeFounder span.name, span.capcodeFounder span.name a, span.capcodeFounder span.postertrip, span.capcodeFounder strong.capcode {
    color: #117743!important;
}
.nameBlock.capcodeMod span.name, span.capcodeMod a span.name, span.capcodeMod span.postertrip, span.capcodeMod strong.capcode {
    color: #800080!important;
}
.nameBlock.capcodeDeveloper span.name, span.capcodeDeveloper a span.name, span.capcodeDeveloper span.postertrip, span.capcodeDeveloper strong.capcode {
    color: #0000F0!important;
}
.nameBlock.capcodeManager span.name, span.capcodeManager a span.name, span.capcodeManager span.postertrip, span.capcodeManager strong.capcode {
    color: #FF0080!important;
}
.nameBlock.capcodeVerified span.name, span.capcodeVerified span.name a, span.capcodeVerified span.postertrip, span.capcodeVerified strong.capcode {
    color: #007FFF!important;
}
#reportTypes a, .useremail {
    text-decoration: underline;
}
.omittedposts, .abbr {
    color: #707070;
}
span.spoiler {
    color: #000!important;
    background: #000!important;
}
span.spoiler:hover, span.spoiler:focus {
    color: #fff!important;
}
s, s a:not(:hover) {
    color: #000!important;
    background: #000!important;
    text-decoration: none;
}
s:hover, s:focus, s:hover a {
    color: #fff!important;
}
s:hover a {
    text-decoration: underline;
}
div.posthover {
    max-width: 400px;
    margin-left: 20px;
}
div.posthover {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
div.posthover a.fileThumb {
    margin-left: 5px!important;
    margin-right: 10px!important;
}
div.posthover blockquote {
    margin: 5px;
}
div.posthover img[data-md5] {
    max-width: 80px;
    max-height: 80px;
    height: auto!important;
    width: auto!important;
}
div.posthover div.fileThumb {
    margin-left: 0px!important;
    margin-right: 10px!important;
}
.preview {
    background: #F0E0D6;
    border: 1px solid #D9BFB7!important;
    border-right: 2px solid #D9BFB7!important;
    border-bottom: 2px solid #D9BFB7!important;
}
div.backlink {
    font-size: x-small!important;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-right: 10px;
}
.backlink span {
    padding-right: 5px;
}
div.pageJump {
    float: right;
    padding-right: 5px;
    padding-top: 3px;
}
.pageJump a {
    text-decoration: none;
    padding-right: 5px;
}
.op .backlinkHr {
    width: 55%;
}
img.expandedImg {
    max-width: none!important;
    max-height: none!important;
}
.prettyprint {
    border: none!important;
    background-color: #fff;
    padding: 5px!important;
    display: inline-block;
    max-height: 400px;
    overflow-x: auto;
    max-width: 600px;
    margin: 0;
}
.embed {
    position: absolute;
    width: 0px;
    height: 0px;
    overflow: hidden;
}
.deadlink {
    text-decoration: line-through;
}
.oldpost {
    background: inherit;
    color: #f00000;
    font-weight: 800;
}
.mFileInfo {
    padding-top: 5px;
    text-align: center;
    color: #707070!important;
    font-size: 9pt!important;
    text-decoration: none!important;
}
.name-col, .file-col, table.flashListing .subject {
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
}
.redtxt {
    color: red;
}
.fileWebm:hover:before {
    background-color: rgba(0,0,0,0.75);
    color: #FFF;
    font-weight: bold;
    line-height: 18px;
    padding: 0 3px 0 2px;
    position: absolute;
    content: 'webm';
    display: block;
    font-size: 11px;
    text-decoration: none;
}
.expandedWebm {
    margin: 3px 20px 5px;
}
#tooltip {
    position: absolute;
    background-color: #181f24;
    font-size: 11px;
    line-height: 13px;
    padding: 3px 6px;
    z-index: 100000;
    word-wrap: break-word;
    white-space: pre-line;
    max-width: 400px;
    color: #fff;
    text-align: center;
}
div.reply {
    background: #fafafa;
    border:1px solid #d9d5d5
}

blockquote {
    font-size:14px !important;
}